<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Data structures</title>
  </head>
  <body>
    <h2>Data structure</h2>
    <h3>list Op</h3>

    <p>Top 3 movies {{ move[0] }} {{movie[1]}} and {{movie[2]}}</p>

    <h3>
dictionary op

    </h3>
<p>this is {{ car['brand'] }} {{car['model']}}, built in {{ car['year'] }}</p>

<h3>custom data structure op</h3>

<p>The four levels of Jay are {{Jay.first}}, {{ jay.second }}, {{ jay.third }}</p>

  </body>
</html>
